{% load wetten_extras %}
{% load staticfiles %}
<html>
<head>
<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
{% if ECLI %}
<link href="{% static "css/case.css" %}" rel="stylesheet">
{% endif %}
{% if BWB %}
<link href="{% static "css/law.css" %}" rel="stylesheet">
<script src="{% static "js/law.js" %}"></script>
<script>
var currentActive = "";
var currentArticle = "";
$(document).ready(function(){

$( "#lawContainer hcontainer.artikel" ).click(function() {
  if(currentActive){
    $( currentActive ).removeClass("active");
  }
  currentActive = this;
  $( this ).addClass("active");
  
  $(".selectedAtricle").text("Voor: \""+$( this ).find(".kop").text().trim()+"\"");
  currentArticle = $( this ).find(".nr").text().trim();
  loadRelatedLaw("{{document}}", $( this ).find(".nr").text());
  
});

$( "#showGraph" ).click(function() {
   location.href = "/graph/?expression="+encodeURIComponent('{{document}}')+"&article="+encodeURIComponent(currentArticle)
});

$( "#lawContainer inline.extref" ).click(function() {
  location.href = $( this ).attr("about").replace("http://doc.metalex.eu/id/", "/")
});


{% if article %}
var selectedArticleHeader = $(".label:contains('Artikel')+.nr").filter(function() {
    return $.trim($(this).text()) === "{{article}}";
});

$('html, body').animate({
        scrollTop: selectedArticleHeader.offset().top - 50
    }, 500);
$(".selectedAtricle").text("Voor: \""+selectedArticleHeader.parent(".kop").text().trim()+"\"")
currentActive = selectedArticleHeader.closest("hcontainer.artikel");
currentActive.addClass("active");

currentArticle = selectedArticleHeader.text().trim();


loadRelatedLaw("{{document}}", "{{article}}")
{% else %}
loadRelatedLaw("{{document}}", "")
{% endif %}

});


</script>
{% endif %}
<script>
$(document).ready(function(){
$( ".historySelection, #lawContainer inline.extref, .menuSelection, a.ref, #showGraph" ).click(function() {
  $("#loading").show()
});
});
</script>
<title>{% if ECLI %}{{ECLI}} - {% endif %}{% if BWB_name and BWB %}{{BWB_name}} ({{BWB}}) - {% endif %}Wetten.nl</title>
</head>
<body>
<div id="loading"><div class="loading-panel"><img src="{% static "img/loading-gallery.gif" %}"></div></div>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" href="#">Wetten.nl</a>
    </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Meest gebruikte wetten<b class="caret"></b></a>
          <ul class="dropdown-menu">
            {% for bwb in bwb_links %}
				<li class="menuSelection"><a href="{{ bwb.2 }}" title="{{ bwb.0 }}">{{ bwb.1 }}</a></li>
            {% endfor %}
          </ul>
        </li>
        {% if BWB%}
        <li><a id="showGraph" href="#">
            Netwerk weergeven
        </a></li>
        {% endif %}        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="row" id="bodyContainer">
    <div class="col-xs-4 col-md-4 col-lg-3">
        <div class="panelwrapper">
        {% if errors %}
            {% for error in errors %}
            <a href="#" class="list-group-item list-group-item-danger">{{error|safe}}</a><BR>
            {% endfor %}
        {% endif %}
        <div class="panel">
            <div class="panel-heading panel-default">
                <h3 class="panel-title">{% if Header%}{{Header}}{% endif %}</h3>
            </div>
            <div class="panel-body">
                {% if BWB%}<b>BWB:</b> {{BWB}}<BR>{% endif %}
                {% if dates%}<b>Versie:</b> 
                <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                {{currentDateSelection}}<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                {% for date in dates %}
                    {% if date == currentDateSelection %}
                        <li class='active historySelection'><a href="#">
                                {{ date }}
                        </a></li>
                    {% else %}
                        <li class='historySelection'><a href="{{ expressions|get:date }}">
                                {{ date }}
                        </a></li>
                    {% endif %}
                {% endfor %}
                </ul>
                </div><BR>{% endif %}
                {% if ECLI %}
                    {% for meta in metadata %}
                        {{meta|safe}}<BR>
                    {% endfor %}
                {% endif %}
                
            </div>
            
        </div>
        {% if rel_law %}
        <div class="panel">
            <div class="panel-heading panel-default">
                <h3 class="panel-title">Relevante Wetgeving</h3>
                <span class="selectedAtricle"></span>
            </div>
            <div class="panel-body" id="relLaw">
                <div class="list-group">
                    {{rel_law|safe}}
                </div>
            </div>
        </div>
        {% endif %}
        {% if rel_case %}
        <div class="panel">
            <div class="panel-heading panel-default">
                <h3 class="panel-title">Relevante Jurisprudentie</h3>
                <span class="selectedAtricle"></span>
            </div>
            <div class="panel-body" id="relCaselaw">
                <div class="list-group">
                    {{rel_case|safe}}
                </div>
            </div>
        </div>
        {% endif %}
        {% if BWB_list %}
        <div class="panel">
            <div class="panel-heading panel-default">
                <h3 class="panel-title">Relevante Wetgeving</h3>
                <span class="selectedAtricle"></span>
            </div>
            <div class="panel-body" id="relLaw">
                <div class="list-group">
                    {% for bwb in BWB_list %}
                    {{bwb|safe}}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        {% if relatedCases %}
        <div class="panel">
            <div class="panel-heading panel-default">
                <h3 class="panel-title">Gerelateerde Zaken</h3>
                <span class="selectedAtricle"></span>
            </div>
            <div class="panel-body" id="relLaw">
                <div class="list-group">
                    {% for case in relatedCases %}
                    {{case|safe}}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        </div>
    </div>
        <div class="col-xs-8 col-md-8 col-lg-9">
        <div class="well" id="Container">
                {% if Content %}
                    <div id="lawContainer">
                    {{Content|safe}}
                    </div>
                {% else %}
                    <p>No content found!</p>
                {% endif %}
        </div>
    </div>
</div>


</body>






